<form action='/whitelist' method='post'>
    <label for='email_id'>Enter the email id of the user you wish to whitelist:</label>
    <input id='email_id' type='text' name='email_id'>
    <input type='submit' value='Submit'>
</form>